form.find,
form.id,
form.pw {
  width: 60%;
  margin: 10px auto;
  fieldset {
    border-radius: 10px;
  }
  legend {
    color: #00dad6;
  }
}
form.find div,
form.id div,
form.pw div {
  display: flex;
  width: 50%;
  margin: 3px auto;
  input {
    padding: 10px;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
div.btn {
  background-color: #ffdf6a;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
